@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
}

body {
    font-family: "Inter";
    background-color: black;
    color: rgb(255, 255, 255);
}

header {
    max-width: 1440px;
    height: 717px;
    height: auto;
    margin: 0 auto;
    background: linear-gradient(
        180deg,
        rgba(19, 19, 19, 0.747) 0%,
        rgb(30, 30, 30) 50%,
        rgba(1, 1, 1, 0) 100%
        ); 
}

nav {
    display: flex;
    align-items: center;
    padding-top: 3.56rem;
    margin-left: 11.87rem;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    gap: 2.93rem;
    margin-right: 11.87rem;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 12px;
    width: 460px;
    height: 48px;
} 

nav h3 {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    margin-top: 0;
} 

.nav-bar p {
    margin-top: 0;
    font-size: 18px;
    cursor: pointer;
}

#nav-home {
    width: 92px;
    height: 38px;
    background-color: rgb(230, 83, 60);
    border-radius: 46px;
    text-align: center;
    margin-top: -0.44rem;
    box-sizing: border-box;
    padding: 8px 20px;
}

.menu {
    display: none;
}

/* banner section */
.banner {
    display: flex;
    max-width: 1440px;
}

.banner-part-one {
    margin-left: 11.87rem;
    width: 520px;
    height: 440px;
    box-sizing: border-box;
    margin-top: 6.87rem;
} 

.banner-part-one h1 {
    color: rgb(255, 255, 255);
    height: 282px;
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    margin: 0;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

#banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0;
    margin-top: 0.625rem;
}

#shape {
    font-family: 'Miama', sans-serif;
    font-size: 150px;
    font-weight: 400;
    margin: 0;
}

.btn-primary {
    width: 224px;
    height: 54px;
    box-sizing: border-box;
    border-radius: 42px;
    background-color: rgb(230, 83, 60);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px 16px 40px;
    margin-top: 2rem;
}

.btn-second {
    width: 224px;
    height: 54px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px 16px 40px;
    margin-left: 0.625rem;
    margin-top: 2rem;
}

.banner-img {
    margin-left: 11.87rem;
    width: 349px;
    height: 580px;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    border: none;
    margin-top: 25px;
    margin-left: 8px;
}

.circle i {
    color: rgb(250, 250, 249);
    position: relative;
    top: 12px;
    font-size: 18px;
}



.banner-btn-one {
    height: 96px;
    width: 206px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 60px;
    left: 75px;
}

.banner-btn-content h3 {
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    text-align: left;
    margin: 0;
    margin-top: 20px;
}

.banner-btn-content p {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-top: 8px;
}

.banner-btn-two {
    height: 96px;
    width: 206px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);  
    position: absolute;
    top: 120px;
    right: -85px;
}

.banner-btn-two-c h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    text-align: left;
    margin-left: 24px;
    margin-top: -5px;
}

.banner-btn-two-c p {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    text-align: left;
    margin-left: 24px;
    margin-top: 5px;
}

.banner-part-two {
    position: relative;
    margin-top: 32px;
}

/* habits section */
.habits {
    width: 1044px;
    height: 452px;
    margin: 0 auto;
    margin-top: 100px;
}

.habits h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.habits p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 14px;
}

.habits-img-container {
    width: 1044px;
    height: 274px;
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}


.habit-card {
    width: 231px;
    height: 274px;
}

.habit-card h4 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 28px;
}

.habit-card p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
}

.habit-card-img img {
    height: 170px;
    width: 170px;
    border: 3px solid rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    margin-left: 28px;
}

/* extra-mile */
.extra-mile {
    width: 1060px;
    height: 371px;
    margin: 0 auto;
    display: flex;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-top: 100px;
}

.extra-mile-content {
    width: 443px;
    height: 290px;
    margin-left: 54px;
    margin-top: 41px;
}

.extra-mile-content h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
}

.extra-mile-content > p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    width: 400px;
    margin-top: 14px;
}

.extra-mile-btn {
    width: 224px;
    height: 54px;
    box-sizing: border-box;
    border-radius: 42px;
    background-color: rgb(230, 83, 60);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px 16px 40px;
    margin-top: 50px;
}

.extra-mile-img {
    width: 366px;
    height: 312px;
    margin-left: 165px;
    margin-top: 30px;
}

.extra-mile-img img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    Object-fit: none;
    Object-position: 50% 23%;
}

/* bmi calculator */
.bmi {
    width: 671px;
    height: 120px;
    margin: 0 auto;
    margin-top: 88px;
} 

.bmi h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
} 

.bmi p {
    width: 671px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 14px;
}

.bmi-calculator {
    width: 1440px;
    height: 487px;
    background-color: rgb(34, 34, 34);
    margin: 0 auto;
    margin-top: 88px;
    display: flex;
}

.bmi-chart {
    margin-left: 189px;
    margin-top: 52px;
}

.bmi-chart h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
}

table {
    width: 310px;
    height: 216px;
    margin-top: 52px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

th {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 18px;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 18px;
}

.bmi-calculate {
    width: 577px;
    height: 386px;
    margin-top: 49px;
    margin-left: 175px;
}

.bmi-calculate h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    width: 443px;
    height: 34px;
    line-height: 120%;
    letter-spacing: 0%;
}

.bmi-calculate p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 14px;
}

.bmi-input {
    width: 577px;
    height: 168px;
    margin-top: 34px;
}

input {
    height: 46px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding-left: 20px;
}

.select-one, .select-two {
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    padding-left: 20px;
    text-align: left;
}

.select-one i {
    margin-left: 190px;
}

.select-two i {
    margin-left: 334px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
}

.row-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.row-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-top: 12px;
}

.row-last {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 12px;
}

.bmi-btn {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    margin-top: 34px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
}

/* our-team */
.our-team {
    width: 1060px;
    height: 782px;
    margin: 0 auto;
    margin-top: 88px;
}

.our-team-content {
    width: 671px;
    height: 120px;
    margin: 0 auto;
}

.our-team-content h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    width: 364px;
    height: 58px;
    margin: 0 auto;
}

.our-team-content p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    width: 671px;
    height: 48px;
    text-align: center;
    margin-top: 14px;
}

.our-team-img {
    width: 1060px;
    height: 604px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.team-img-one {
    width: 326px;
    height: 272px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}

.team-img-one img, .team-img-two img, .team-img-three img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    filter: brightness(90%);
}

.team-img-four img, .team-img-five img, .team-img-six img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    filter: brightness(90%);
}

.team-img-one h3 {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 18px;
}

.team-img-one p {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.team-img-two {
    width: 326px;
    height: 272px;
    position: relative;
    margin-top: 20px;
    margin-left: 15px;
}

.team-img-two h3 {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 18px;
}

.team-img-two p {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.team-img-three {
    width: 326px;
    height: 272px;
    border-radius: 18px;
    position: relative;
    margin-top: 20px;
    margin-left: 8px;
}

.team-img-three h3 {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 18px;
}

.team-img-three p {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.team-img-four {
    width: 326px;
    height: 272px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}

.team-img-four h3 {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 18px;
}

.team-img-four p {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.team-img-five {
    width: 326px;
    height: 272px;
    position: relative;
    margin-top: 20px;
    margin-left: 15px;
}

.team-img-five h3 {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 18px;
}

.team-img-five p {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.team-img-six {
    width: 326px;
    height: 272px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 8px;
}

.team-img-six h3 {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 18px;
}

.team-img-six p {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

/* our programs */
.our-programs {
    width: 1440px;
    margin: 0 auto;
    margin-top: 80px;
    border: 1px solid blue;
}

.our-programs h1 {
    text-align: center;
    font-size: 42px;
    letter-spacing: 0.5px;
} 

#program {
    color: rgb(230, 83, 60);
}

.our-programs-container {
    width: 1044px;
    height: 274px;
    display: flex;
    margin: 0 auto;
    margin-top: 58px;
}

.program {
    width: 231px;
    height: 274px;
    border: 1px solid rgb(230, 83, 60);
    margin: 0 auto;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}

/* footer */
.footer {
    width: 1440px;
    height: 489px;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    margin-top: 88px;
    position: relative;
}

.footer-container {
    width: 1059px;
    height: 249px;
    position: absolute;
    top: 66px;
    left: 190px;
    display: flex;
}

.footer-content-one {
    width: 443px;
    height: 176px;
}

.footer-content-one h2 {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
}

.footer-content-one p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 20px;
}

.footer-content-two {
    width: 181px;
    height: 249px;
    margin-left: 102px;
}

.footer-content-two h3 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
}
.footer-content-three h3 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
}

.footer-content-two p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
}
.footer-content-three p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
}

.footer-content-three {
    width: 181px;
    height: 249px;
    margin-left: 152px;
}

.footer-content-three h3 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
}

.footer-para {
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

hr {
    position: absolute;
    width: 1059.5px;
    height: 0;
    left: 189px;
    top: 394px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#last-para {
    position: absolute;
    width: 318px;
    height: 24px;
    left: 558px;
    top: 430px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}



@media screen and (max-width: 576px) {
    .nav-bar {
        display: none;
    }

    nav {
        margin-left: 20px;
    }

    header {
        width: 100%;
    }

    .menu {
        display: block;
        margin-right: 20px;
    }

    .menu i {
        font-size: 20px;
    }

    .banner {
        flex-direction: column;
    }

    .banner-part-one {
        margin-left: 20px;
        margin-top: 50px;
        width: 90%;
        height: auto;
    }

    .banner-part-one h1 {
        font-size: 36px;
        width: 285px;
        height: 129px;
    }

    #shape {
        font-size: 70px;
    }

    #banner-description {
        font-size: 16px;
        width: 275px;
    }

    .btn-primary, .btn-second {
        width: 169px;
    }

    .club {
        display: none;
    }

    .banner-part-two {
        width: 95%;
        margin-left: 20px;
    }

    .banner-img {
        margin: 0;
    }

    .banner-btn-one {
        top: 260px;
        left: 10px;
        width: 156px;
        height: 73px;
    }

    .banner-btn-content h3 {
        font-size: 18.14px;
        margin-top: 15px;
    }

    .banner-btn-content p {
        font-size: 12.1px;
    } 

    .circle {
        width: 30.24px;
        height: 30.24px;
    }

    .circle i {
        font-size: 16px;
        top: 8px;
    }

    .banner-btn-two {
        width: 146px;
        height: 75px;
        left: 200px;
        top: 50px;
    }

    .banner-btn-two-c h2 {
        font-size: 30.24px;
    }

    .banner-btn-two-c p {
        font-size: 9.83px;
    }

    .habits-img-container {
        grid-template-columns: repeat(1, 1fr);
        width: 338px;
        height: 1216px;
        margin-top: 40px;
    }

    .habits {
        width: 338px;
        height: 1398px;
        margin: 0 auto;
    }

    .habits h1 {
        width: 318px;
        height: 38px;
        font-size: 32px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
    } 

    .habits p {
        font-size: 14px;
        width: 316px;
        height: 72px;
    }

    .habit-card {
        margin: 0 auto;
    }

    .habit-card p {
        width: 231px;
    }

    .extra-mile {
        flex-direction: column;
        width: 353px;
        height: 531px;
        margin-top: 66px;
    }

    .extra-mile-content {
        width: 287px;
        height: 264px;
        margin-top: 31px;
        margin-left: 33px;
    }

    .extra-mile-content h1 {
        height: 76px;
        font-size: 32px;
        margin: 0;
    }

    .extra-mile-content > p {
        width: 287px;
        height: 96px;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.3px;
        margin-top: 14px;
    }

    .extra-mile-btn {
        width: 287px;
        margin-top: 24px;
    }

    .extra-mile-img {
        margin-top: 31px;
        margin-left: 33px;
        width: 287px;
        height: 170px;
    }

    .extra-mile-img img {
        width: 100%;
        height: 100%;
        border-radius: 18px;
        object-fit: cover;
    }

    .bmi {
        width: 353px;
        height: 150px;
        margin-top: 21px;
    } 

    .bmi h1 {
        width: 236px;
        height: 38px;
        font-size: 32px;
    } 

    .bmi p {
        width: 353px;
        height: 90px;
        font-size: 14px;
    }

    .bmi-calculator {
        flex-direction: column;
        width: auto;
        height: 772px;
        margin-top: 32px;
    }

    .bmi-chart {
        margin-left: 20px;
        margin: 0 auto;
        margin-top: 34px;
    }

    .bmi-chart h2 {
        font-size: 16px;
        width: 167px;
        height: 19px;
    }

    .bmi-calculate {
        margin: 0 auto;
        margin-top: 42px;
        width: 354px;
        height: 420px;
    }

    .bmi-calculate h2 {
        font-size: 16px;
        width: 151px;
    }

    table {
        margin-top: 23px;
    }

    .bmi-input {
        width: 353px;
    }

    input {
        width: 150px;
    }

    .select-one {
        width: 172px;
    }

    .select-one i {
        margin-left: 78.5px;
    }

    .select-two 
    {
        width: 355px;
    }

    .select-two i {
        margin-left: 115px;
    }

    .our-team {
        width: 90%;
        height: auto;
        margin-top: 66px;
    }

    .our-team-content {
        width: 90%;
    }

    .our-team-content h1 {
        width: 243px;
        height: 38px;
        font-size: 32px;
    } 

    .our-team-content p {
        width: 309px;
        height: 72px;
    }

    .our-team-img {
        grid-template-columns: 1fr;
        width: 95%;
        height: 1800px;
        margin-top: 38px;
        margin: 0 auto;
        margin-top: 37px;
    }

    .team-img-one {
        margin: 0 auto;
        margin-top: 20px;
    }

    .team-img-six, .team-img-two,
    .team-img-three, .team-img-four, .team-img-five {
        margin: 0 auto;
        margin-top: 10px;
    }

    .our-programs {
        display: none;
    }

    .footer {
        height: 986px;
        width: auto;
    }

    .footer-container {
        flex-direction: column;
        width: 95%;
        height: auto;
        left: 20px;
        top: 44px;
    }

    .footer-content-one {
        width: 90%;
        height: auto;
        margin-left: 20px;
    }

    .footer-content-one h2 {
        width: 256px;
    }

    .footer-content-one p {
        width: 95%;
        height: 96px;
    }

    .footer-content-two {
        margin-left: 20px;
        margin-top: 30px;
        height: auto;
    }

    .footer-content-three {
        margin-left: 20px;
        margin-top: 30px;
        height: auto;
    }

    hr {
        top: 865px;
        left: 37px;
        width: 85%;
    }

    #last-para {
        top: 905px;
        left: 40px;
    }
}